@forward './utilities/_utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  /* TODO: Удалить позже */
  .text-h-xxl {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  }
  .text-h-xl {
    @apply text-xl sm:text-3xl md:text-4xl lg:text-5xl;
  }
  .text-h-l {
    @apply lg:text-4xl md:text-3xl sm:text-2xl text-xl;
    font-family: 'Inter';
  }
  .text-h-m {
    @apply lg:text-3xl md:text-2xl sm:text-xl text-lg;
    font-family: 'Inter';
  }
  .text-h-ms {
    @apply lg:text-2xl md:text-xl text-lg;
    font-family: 'Inter';
  }
  .text-p-s {
    @apply lg:text-xl md:text-lg text-base;
    font-family: 'Inter';
  }
  .text-p-xs {
    @apply md:text-lg text-base;
    font-family: 'Inter';
  }
  .text-p-xxs {
    @apply md:text-base text-sm;
    font-family: 'Inter';
  }
  .text-p-x {
    @apply text-sm;
    font-family: 'Inter';
  }
  .rounded-full {
    border-radius: 9999px;
  }
  .border-transparent {
    border-color: transparent;
  }
}
@import './vendors/index.scss';


.text-page-title {
  @apply text-3xl mb-[30px];
}

:root {
  --black: #222222; // черный
  --white: #ffffff; // Main BG Color

  --extra-light-gray: #f2f2f7; // Secondary BG Color
  --light-gray: #d2d2d2; //gray trietary (stc)
  --gray: #6e6e6e; // Gray (non-active, stc)
  --dark-gray: #5a5a5a; // gray subtext (stc)

  --red: #d12e2e; // some red color (subject to change)
  --blue: #007aff; // Blue (active)

  --font-family: "Inter", sans-serif !important;
  font-family: "Inter", sans-serif !important;
}

body, html {
  overflow-x: hidden;
}

/* Primevue */
/* :root {
  --text-color: var(--black);
  --text-secondary-color: 1
  --primary-color: var(--blue);
  --primary-color-text: var(--white);
  --inline-spacing: 15px;
  --border-radius: 10px;
  --focus-ring: 1
  --highlight-bg:
  --highlight-bg: rgba(var(--blue), 0.2);
  --highlight-text-color: var(--blue);
} */

/* @mixin text-truncate($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */
