@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .text-h-xxl {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  }
  .text-h-xl {
    @apply text-xl sm:text-3xl md:text-4xl lg:text-5xl;
  }
  .text-h-l {
    @apply lg:text-4xl md:text-3xl sm:text-2xl text-xl;
    font-family: 'Inter';
  }
  .text-h-m {
    @apply lg:text-3xl md:text-2xl sm:text-xl text-lg;
    font-family: 'Inter';
  }
  .text-h-ms {
    @apply lg:text-2xl md:text-xl text-lg;
    font-family: 'Inter';
  }
  .text-p-s {
    @apply lg:text-xl md:text-lg text-base;
    font-family: 'Inter';
  }
  .text-p-xs {
    @apply md:text-lg text-base;
    font-family: 'Inter';
  }
  .text-p-xxs {
    @apply md:text-base text-sm;
    font-family: 'Inter';
  }
  .text-p-x {
    @apply text-sm;
    font-family: 'Inter';
  }
  .rounded-full {
    border-radius: 9999px;
  }
  .border-transparent {
    border-color: transparent;
  }
}

@import './vendors/index.scss';
@import './utilities/utills.scss';

:root {
  --black: #222222; // чьорьный как шайтааан дон!
  --white: #FFFFFF; // Main BG Color

  --extra-light-gray: #F2F2F7; // Secondary BG Color
  --light-gray: #D2D2D2; //gray trietary (stc)
  --gray: #6E6E6E; // Gray (non-active, stc)
  --dark-gray: #5A5A5A; // gray subtext (stc)

  --red: #D12E2E; // some red color (subject to change)
  --blue: #007AFF; // Blue (active)


}

/* Primevue */
/* :root {
  --text-color: var(--black);
  --text-secondary-color: 1
  --primary-color: var(--blue);
  --primary-color-text: var(--white);
  --inline-spacing: 15px;
  --border-radius: 10px;
  --focus-ring: 1
  --highlight-bg:
  --highlight-bg: rgba(var(--blue), 0.2);
  --highlight-text-color: var(--blue);
} */
